<div class="container">
  Предприятие «Украинская Национальная Лотерея»(УНЛ) было основано в 1997 году с целью получения денежных средств, которые были бы направлены на улучшение жизненного уровня всех слоев общества.

  С 1997 по 2001 год успешно проводилась лотерея с простым названием «Национальная лотерея 6 из 39»

  В 2001 году УНЛ вышла на качественно новый уровень проведения лотерей, предоставив на украинский рынок две новые лотереи - «Кено» и «Супер Лото».

  В ноябре 2002г была введена новая игра по типу «bingo» - «Бинго Бум Лото», просуществовавшая 56 розыгрышей и завершившаяся в декабре 2003г.

  С 1 июня 2004 года украинские игроки имеют возможность играть в широкоизвестную лотерею типа Pick3. В Украине эта лотерея называется «Лото Тройка»!

  Для тех же кто любит выигрывать часто и получать неплохие выигрыши, 8 декабря 2008 года стартовала лотерея «Лото Максима».

  В сентябре 2011 УНЛ знакомит игроков с совершенно новой и уникальной лотерей «Секунда Удачи», не имеющей аналогов в мире.

  Долгое время УНЛ являлась единственной компанией на территории СНГ, предоставлявшей возможность играть в «он-лайн» лотереи. На данный момент, в большинстве крупных городов Украины установлено более 5200 терминалов. Благодаря УНЛ играть в лотерею стало просто и удобно. Система «он-лайн» позволяет не только быстро и точно делать ставки, но и дает возможность получать выигрыши уже на следующий день после проведения розыгрыша!

  Лотереи УНЛ по настоящему стали любимыми играми украинских игроков. Сейчас в «Супер Лото» от игры к игре растет джекпот, начинающий свой бег с 3 000 000 грн!

  Именно в «Супер Лото» зафиксирован самый большой выигрыш в истории украинских лотерей 15 203 000 грн!
  За все время проведения игры «Супер Лото» было выиграно более 60 джекпотов, а общая сумма выплат составила более 580 миллионов гривен!
</div>

