<div class="container">
  <div class="center-align">
    <h1>Джекпот:{{jackpot}}$</h1>
  </div>
  <div>
    <h1 class="center-align">Вас встречает интернет лотерея Lotto</h1>
    <p>Наша команда хочет Вам предоставить практически без проигрышную интернет лотерею! В нашей лотереи могут принять участие все желающие!
    Лотерея проходит раз в три дня. И это наверное самое удобное, так как вы можете подумать "может прикупить еще один билетик" и увеличить свои
    шансы на выгрышь!</p>
    <p>Лотерейные билеты идут уже с номерами для участия, тоесть когда вы покупаете вам выдаются билет уже с комбинацией для участия в лотереи!</p>
    <p>По правилам нашей лотереи 45% билетов идут выгрышные! Выгрышные билеты будут выбиратся системой автоматически в 24:00 по МСК каждый третий день!</p>
    <p>Вашь выгрышь с одного билета может составить двойную сумму! Если вы купили билет за 5$ то можете выграть 10$ (Пример: стоимость билета * 2.)</p>
    <p>Билетов можно укпить не ограниченое количество!</p>
    <p>Как вы уже заметили выгрышных билетов только 45%! Вы зададите вопрос, а как же остальные билеты? Куда уйдут остальные не выгрышные деньги по билетам?
    Ответ очекнь прост!!! Всего билетов 100% из наих выгрышных 45%, выгрышь составляет Х2. Получается:</p>
    <h4 class="center-align">100% - (45% *2)=10%</h4>
    <p>Остается 10% не разыграных билетов! Из этих 10% уходит на развите проекта, зарплату работникам, поддержание работоспособности проекта, налог,
      процент за перевод денег 7%</p>
    <p>Остальные 3% уходят в Джек Пот который будет розыгрыватся между всеми участниками принимавшими в течение этого месяца участия в лотереи!
    То - есть допустим в месяце 31 день! Значит в течении месяца было разыграно 10 лотерей! С каждой лотереи откладывали на Джек Пот 3%! Получается, что
    31 числа будет разыграно между всему участниками равнявшемуся 30% от суммы всех лотерей!</p>
    <p>Выплата выграша происходит в течении трех дней! На кошелек с которого происходила оплата!</p>
    <p>На данный момент работаем только с PAYEER</p>
  </div>
  <div class="center-align">
    <button (click)="onWinNumber()">random ticket</button>
  </div>
</div>

